* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
:root {
    --text: #131F27;
    --accent1: #CA4EA2;
    --accent2: #39C034;
    --accent3: #00ADE7;
    --bg: #EDF2FA;


    --h1: 700 48px/1 "Arial";
    --h2: 700 40px/1 "Arial";
    --h3: 700 36px/1 "Arial";
    --h4: 700 24px/1 "Arial";

    --p: 400 16px/1 "Arial";
    --btn: 700 20px/1 "Arial";
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    font: var(--p);

    background-color: var(--bg);
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    margin-bottom: 20px;
    font: var(--h2);
    text-align: center;
}

h3 {
    font: var(--h3);
    margin-bottom: 10px;
    text-align: left;
}

/* header */
.header {
    width: 80%;
    margin: 0 auto;
    background-color: var(--bg);
    padding: 8px 110px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}

.logo {
    display: block;
    height: 100px;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.nav__item:hover {
    text-decoration: underline;
    color: var(--accent1);
}

/* banner */
.banner {
    background-image: url(../assets/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;

    position: relative;
}

.banner h1 {
    font: var(--h1);
    color: var(--accent2);
    text-align: center;

    margin-bottom: 20px;
}

.banner__box {
    width: 50%;
}

.banner__box p {
    padding-left: 100px;
    margin-bottom: 30px;
    color: var(--bg);
}

.btn_green {
    display: block;
    color: var(--bg);
    background-color: var(--accent2);
    border-radius: 14px;
    font: var(--btn);

    width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    text-align: center;

    transition: all .3s ease-in-out;
}

.btn_green:hover {
    background-color: #4A6849;
}

.btn_green:active {
    background-color: #6e976d;
}


.banner__arrow {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background-color: var(--accent3);
    bottom: 5%;
    width: 100px;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: arrow-play 1s ease-in-out infinite;

    transition: all .2s ease-in-out;
}

@keyframes arrow-play {
    0% {
        bottom: 60px;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 60px;
    }
}

.banner__arrow img {
    width: 30%;
}

/* slider */
.slider {
    padding-bottom: 100px;
    width: 60%;
    margin: 0 auto;

    position: relative;
}

.slider__container {
    margin: 0 auto;
    width: 100%;
}

.slider__container img {
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    max-width: 100%;
    height: 300px;
    object-fit: contain;

}

.about__arrow__left {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: var(--accent2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: help;

    transition: all .3s ease-in-out;
}

.about__arrow__left:hover {
    background-color: #4A6849;
}

.about__arrow__left img {
    width: 30%;
    transform: rotate(90deg);
}

.about__arrow__right {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: var(--accent2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: help;

    transition: all .3s ease-in-out;
}

.about__arrow__right:hover {
    background-color: #4A6849;
}

.about__arrow__right img {
    width: 30%;
    transform: rotate(270deg);
}



/* about */
.about {
    margin-bottom: 100px;
}

.about__box {
    width: 50%;
    margin: 0 auto;
}

.about__box p {
    padding-left: 100px;
    margin-bottom: 30px;
}

.btn_pink {
    display: block;
    color: var(--bg);
    background-color: var(--accent1);
    border-radius: 14px;
    font: var(--btn);

    width: 60%;
    margin: 0 auto;
    padding: 20px 150px;
    text-align: center;

    transition: all .3s ease-in-out;
}

.btn_pink:hover {
    background-color: #7C4169;
}

.btn_pink:active {
    background-color: #9e698d;
}

/* advantages */
.advantages {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.advantages__item {
    text-align: center;
    color: var(--accent3);
}

/* footer */
.footer {
    padding-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}

.footer h4 {
    color: var(--accent3);
    font: var(--h4);
    margin-bottom: 10px;
}

.footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 50px;
    margin-bottom: 30px;
}

.footer a {
    margin-bottom: 10px;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--accent1);
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__copyright {
    text-align: center;
    color: var(--accent1);
}

/* reg */
.reg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__reg {
    width: 40%;
    background-color: var(--text);
    border-radius: 14px;
    padding: 20px;
}

.error__input {
    display: block;
    color: var(--accent1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--bg);
    font: var(--p);
}

input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: var(--bg);
    border: none;
    border-right: 20px solid var(--accent3);
    border-left: 20px solid var(--accent3);
    padding: 16px 10px;
}

input::placeholder {
    color: var(--accent3);
}

input:focus {
    outline: none;
}

select {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: var(--bg);
    border: none;
    border-right: 20px solid var(--accent3);
    border-left: 20px solid var(--accent3);
    padding: 16px 10px;
}

select::placeholder {
    color: var(--accent3);
}

select:focus {
    outline: none;
}

textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: var(--bg);
    border: none;
    border-right: 20px solid var(--accent3);
    border-left: 20px solid var(--accent3);
    padding: 16px 10px;
    resize: none;
    height: 170px;
}

textarea::placeholder {
    color: var(--accent3);
}

textarea:focus {
    outline: none;
}

.btn_blue {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: var(--accent3);
    color: var(--bg);
    border-radius: 7px;
    border: none;
    border-left: 20px solid var(--bg);
    border-right: 20px solid var(--bg);

    text-align: center;

    transition: all .3s ease-in-out;
}

.btn_blue:hover {
    background-color: #2576b8;
}

.reg__link {
    color: var(--accent3);
    display: block;
    margin-top: 20px;
    font: var(--p);
}

.reg__link:hover {
    color: var(--accent1);
}

/* auth */
.auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__auth {
    width: 40%;
    background-color: var(--text);
    border-radius: 14px;
    padding: 20px;
}

/* buy */
.buy {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__buy {
    width: 40%;
    background-color: var(--text);
    border-radius: 14px;
    padding: 20px;
}



/* review */
.review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.backbox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px dashed transparent;

    transition: all .3s ease-in-out;
}

.backbox:hover {
    border: 2px dashed var(--text);
}

.form__review {
    width: 40%;
    background-color: var(--text);
    border-radius: 14px;
    padding: 20px;
}


form h4 {
    color: var(--bg);
    font: var(--h4);
    margin-bottom: 10px;
}


/* courses */
header.static {
    position: static;
    transform: none;
}

.courses {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.courses h2 {
    margin-bottom: 60px;
}

.courses__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.courses__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.courses__price {
    font: var(--h2);
    color: var(--accent3);
    margin-bottom: 10px;
}

.courses__footer .btn_pink {
    width: 100%;
}


/* profile */
.user__info {
    padding-top: 50px;
    margin-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}

.user__info__box {
    width: 100%;
    margin-bottom: 20px;
    border-left: 10px solid var(--accent3);

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 200px;

    padding: 12px 12px 12px 50px;
}

.user__info__box p {
    margin-bottom: 10px;
}

.span_pink {
    font: var(--h4);
    color: var(--accent1);
}

.span_blue {
    font: var(--h4);
    color: var(--accent3);
}

.user__info .btn_blue {
    border: 7px;
    width: 20%;
    font: var(--btn);
    margin-bottom: 30px;
}

.requests {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.requests__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.requests__item {
    border-radius: 5px;
    border: 2px solid var(--text);
    padding: 10px;
}

.requests__item .btn_pink {
    width: 100%;
}

.requests__item p {
    margin-bottom: 10px;
}

.requests__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requests__price {
    color: var(--accent1);
    font: var(--h4);
}

.requests__status {
    color: var(--accent1);
    margin-bottom: 20px;
}

/* admin panel */
.admin-panel {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.admin-panel h2 {
    text-align: center;
}

.admin-panel__box {
    background-color: var(--text);
    border-radius: 14px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
}

.admin-panel__box__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.btn_admin {
    display: block;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    color: var(--bg);
    background-color: var(--text);
    border-left: 10px solid var(--bg);
    border-right: 10px solid var(--bg);
    font: var(--btn);
    padding: 12px;

    transition: all .3s ease-in-out;
}

.btn_admin:hover {
    background-color: var(--bg);
    color: var(--text);
    border-left: 10px solid var(--text);
    border-right: 10px solid var(--tezt);
}

.btn_logout {
    color: var(--bg);
    text-align: center;
    display: block;
    width: 100%;
    font: var(--btn);

    transition: all .3s ease-in-out;
}

.btn_logout:hover {
    color: var(--accent1);
}


/* reviews users */
.reviews-users {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.back-profile {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}

.reviews-users__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.reviews__search input {
    padding: 14px 100px 14px 20px;
    background-color: var(--text);
    border: 3px solid var(--accent1);
    width: 300px;
    color: var(--bg);

    background-image: url(../assets/search.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.reviews__search input::placeholder {
    color: var(--accent1);
}

.reviews__filter {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.reviews__filter__item {
    display: block;
    padding: 15px;
    border-radius: 7px;
    border: 3px solid var(--accent1);
    color: var(--accent1);

    transition: all .1s ease-in;
}

.reviews__filter__item:hover {
    background-color: var(--accent1);
    color: var(--bg);
}

.reviews-users__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.reviews-users__list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text);
    padding: 20px;
    border-radius: 14px;
}

.reviews-users__list__item p {
    color: var(--bg);
    margin-bottom: 10px;
}

.form-change select {
    background-color: transparent;
    border: none;
    color: var(--accent1);
    font-size: 24px;

    transition: all .2s ease-in;
}

.form-change select:hover {
    background-color: var(--accent1);
    color: var(--bg);
}

.form-change .btn_pink {
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
}

.reviews-users__pagination {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.reviews-users__pagination__item {
    border-radius: 7px;
    border: 2px solid var(--accent1);
    padding: 15px;
    color: var(--accent1);

    transition: all .1s ease-in-out;
}

.reviews-users__pagination__item:hover {
    background-color: var(--accent1);
    color: var(--bg);
}


/* requests */
.requests-users__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.requests-user__item {
    background-color: var(--text);
    padding: 20px;
    border-radius: 14px;
    color: var(--bg);
    width: 32%;

    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}

.requests-user__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-title {
    color: var(--accent1);
}

.course-msg {

    overflow-wrap: anywhere;
}

/* errors */
.message-box {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60%;
    min-height: 50px;
    background-color: rgba(202, 17, 17, 0.9);
    border-radius: 7px;
    color: var(--bg);
    font: var(--p);
    padding: 20px;
    text-align-last: left;

    opacity: 1;
    animation: error 1s ease forwards;
    animation-delay: 1s;
    z-index: 999999;
}


.limit {
    max-width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



@keyframes error {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.message-box p {
    margin-bottom: 5px;
}


.message-box.success {
    background-color: rgba(49, 208, 14, 0.9);
}

/* profile status */
.requests__status--learning {
    color: var(--accent2);
}

.requests__status--complete {
    color: var(--accent3);
}


/* adaptive */
@media (max-width:1400px) {
    .header {
        gap: 40px;
        justify-content: center;
    }

    .nav__menu {
        gap: 20px;
        flex-wrap: wrap;
    }

    .btn_pink {
        padding: 30px;
    }

    .advantages__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .courses {
        width: 100%;
        padding-inline: 20px;
        gap: 20px;
    }

    .courses__list {
        grid-template-columns: 1fr 1fr;
    }

    .user__info__box {
        gap: 30px;
        padding: 20px;
    }

    .user__info .btn_blue {
        width: 60%;
    }

    .requests {
        width: 100%;
        padding-inline: 20px;
    }

    .requests__list {
        grid-template-columns: 1fr 1fr;
    }

    .admin-panel {
        width: 50%;
    }

    .reviews-users__header {
        flex-direction: column;
    }

    .reviews-users__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .requests-user__item {
        width: 48%;
    }
}

@media (max-width: 750px) {
    .header {
        width: 100%;
        padding-block: 30px;
    }

    .nav__menu {
        gap: 30px;
    }

    .banner__box {
        width: 100%;
        padding-inline: 20px;
    }

    .banner__box p {
        padding: 0;
        text-align: center;
    }

    .btn_green {
        width: 100%;
        padding: 30px;
    }

    h1 {
        font-size: 44px;
    }

    .slider {
        width: 100%;
    }

    .about__arrow__left {
        top: 90%;
        left: 10%;
    }

    .about__arrow__right {
        top: 90%;
        right: 10%;
    }

    .about__box {
        width: 100%;
        padding-inline: 20px;
    }

    .about__box p {
        padding: 0;
    }

    .btn_pink {
        width: 100%;
        text-align: center;
        padding: 30px;
    }

    .advantages {
        width: 100%;
        padding-inline: 20px;
    }

    .footer__menu {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .reg {
        padding-inline: 20px;
    }

    .form__reg {
        margin-top: 200px;
        width: 100%;
    }

    .auth {
        padding-inline: 20px;
    }

    .form__auth {
        margin-top: 100px;
        width: 100%;
    }


    .buy {
        padding-inline: 20px;
    }

    .form__buy {
        margin-top: 100px;
        width: 100%;
    }


    .review {
        padding-inline: 20px;
    }

    .form__review {
        margin-top: 100px;
        width: 100%;
    }

    .courses__list {
        grid-template-columns: 1fr;
    }

    .user__info__box {
        flex-direction: column;
        align-items: start;
    }

    .user__info .btn_blue {
        width: 100%;
    }

    .user__info {
        width: 100%;
        padding-inline: 20px;
    }

    .requests__list {
        grid-template-columns: 1fr;
    }

    .admin-panel {
        width: 100%;
        padding-inline: 20px;
    }

    .reviews-users {
        width: 100%;
        padding-inline: 20px;
    }

    .reviews-users__list {
        grid-template-columns: 1fr;
    }

    .reviews__filter {
        flex-wrap: wrap;
        justify-content: center;
    }

    .requests-users__list {
        width: 100%;
        padding-inline: 20px;
    }

    .requests-user__item {
        width: 100%;
    }

    .message-box {
        top: 200px;
        width: 95%;
    }
}

@media (max-width: 420px) {
    .banner__box {
        padding-top: 50px;
    }
}